.brand-logo,
img {
    height: 100%;
}

#logo {
    transform: scale(0.8);
}

nav {
    background-color: #fff;
}

.sidenav-trigger,
nav ul a {
    color: #212121;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}