<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/791bdd6a9a.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/add-event.css">
</head>

<body>
<nav th:replace="fragments/navbar :: navbar">
</nav>
<div class="container">
    <div class="row">
        <form action="/new-event" th:object="${eventForm}" method="post" class="col s12">
            <div class="row">
                <div class="col s12 m6 l5">
                    <div class="image-placeholder thumbnail hoverable">
                        <div class="image-placeholder-description">
                            <i class="material-icons">add_a_photo</i>
                            <p>Add a photo</p>
                        </div>
                        <input type="file" class="image-input" id="imgInp">
                        <img id="image-uploaded" class="responsive-img" src="" alt=" " hidden>
                        <span class="button-close">&#10006;</span>
                    </div>
                    <div class="hide-on-small-only" id="map">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l5">
                        <input th:field="*{title}" placeholder="E.g. Live coding - Łódź" id="title" type="text" class="validate">
                        <label for="title">Title</label>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
                    </div>
                    <div class="input-field col s12 m4 l5">
                            <textarea th:field="*{description}" id="description" type="text" class="materialize-textarea" data-length="500"
                                      placeholder="Lorem ipsum dolor sit amet."></textarea>
                        <label for="description">Description</label>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
                    </div>
                    <div class="input-field col s12 m4 l5">
                        <select th:field="*{category}">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Categories</label>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</span>
                    </div>
                    <div class="input-field col s12 m2 l3">
                        <input th:field="*{date}" th:value="*{date}" type="text" class="datepicker" id='event-date'>
                        <label for="event-date">Event date</label>
                        <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</span>

                    </div>
                    <div class="input-field col s12 m2 l2">
                        <input th:field="*{time}" th:value="*{time}" type="time" class="timepicker" id='event-time'>
                        <label for="event-time">Event time</label>
                        <span th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Time Error</span>

                    </div>
                    <div class="input-field col s12 m4 l5">
                        <input th:field="*{placeOfMeeting.name}" placeholder="Politechnika Łódzka, Łódź, Polska" id="search" type="text"
                               class="validate">
                        <label for="search">Place of meeting</label>
                        <span th:if="${#fields.hasErrors('placeOfMeeting')}" th:errors="*{placeOfMeeting}">PlaceOfMeeting Error</span>
                    </div>
                    <input type="text" value="" th:field="*{placeOfMeeting.x}" hidden id="lng">
                    <input type="text" value="" th:field="*{placeOfMeeting.y}" hidden id="lat">
                    <div class="col s12 m4 l5">
                        <label for="number-of-seats">Number of seats: </label>
                        <p class="range-field ">
                            <input th:field="*{seats}" type="range" id="number-of-seats" min="10" max="500" step="5">
                            <span th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}">Seats Error</span>
                        </p>
                    </div>
                    <div class="col s12 m4 l5 center-align">
                        <button class="btn waves-effect waves-light btn-long orange lighten-2" type="submit"
                                name="action">Create
                            event!
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
<script src="script/navbar.js"></script>
<script src="script/image-upload.js"></script>
<script src="script/new-event-form.js"></script>

<!-- Google Maps scripts -->
<script src="script/maps.js"></script>
<script
        src="http://maps.googleapis.com/maps/api/js?callback=createMap&libraries=places&key=AIzaSyDO2dlu-aTBCWGzLRHhL9Ac_ZGbAkPy0g8"
        async defer>
</script>
</body>


</html>