<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/791bdd6a9a.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/event.css" th:href="@{/css/event.css}">
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a th:href="@{/home}" class="brand-logo"><img th:src="@{/img/logo.png}" id="logo"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>

<div class="container">
    <section>
        <div class="row">
            <div class="col s12 m8 info">
                <p>Monady, 1 July 2019</p>
                <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                <h6>Organizer:</h6>
                <div class="organizer">
                    <img class="avatar" th:src="@{~/img/avatar.png}">
                    <div><a href="!#">Niiiick</a></div>
                </div>
            </div>
            <div class="col s12 m4">
                <h2>Do you want to join?</h2>
                <a class="waves-effect waves-light orange lighten-2 btn btn-event"><i
                        class="material-icons left">close</i></a>
                <a class="waves-effect waves-light orange lighten-2 btn btn-event"><i
                        class="material-icons left">check</i></a>
                <h4>Free places: 0</h4>
            </div>
        </div>

    </section>
    <section>
        <div class="row">
            <div class="col s12 m7">
                <img class="materialboxed event-image" th:src="@{/img/example2.jpg}">
            </div>
            <div class="col s12 m5">
                <div id="map">
                </div>
            </div>
        </div>
        <div class="row">
            <h3><b>Description</b></h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nam
                architecto minima beatae<br>

                explicabo dolores, perspiciatis repudiandae deleniti quibusdam, aut rerum mollitia quasi quos.
                Necessitatibus accusamus laudantium ut soluta, corrupti voluptatum placeat deserunt esse fuga
                beatae<br>
                laboriosam commodi adipisci neque vitae earum, consequatur eveniet maxime. Doloribus praesentium
                aliquam labore sed ab velit cum nostrum error quam, natus blanditiis, similique autem fugit
                corrupti
                itaque voluptate distinctio! Laboriosam consectetur molestias commodi cupiditate fugit. Sit,
                minus
                in distinctio ab consectetur eum ipsam repellendus adipisci voluptatibus, placeat quae
                accusantium
                qui illum iure eos harum unde voluptatum sequi sed provident ad pariatur. Eius, reprehenderit
                libero?</p>
        </div>
        <div class="row">
            <div class="members">
                <h3><b>Members:</b></h3>
                <div class="col s12 l7">
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 l2">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-avatar">
                                    <img th:src="@{/img/avatar.png}">
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="#">looooooooooooong</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col s9">
                <h3><b>More events in this category</b></h3>
            </div>
            <div class="col s3">
                <a href="!#">Show all</a>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/id/137/400">

                    </div>

                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/id/134/400">

                    </div>

                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>

            </div>
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/id/136/400">

                    </div>

                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>

            </div>
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/id/135/400">

                    </div>

                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<footer class="page-footer orange lighten-2">
    <div class="footer-arrow">
        <a href="#presentation"><i class="fas fa-arrow-up"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Find us on:</h5>
                <ul class="list-inline">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-snapchat"></i></li>
                </ul>
            </div>
            <div class="col s12">
                <img class="footer-logo" src="img/logo3.png">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
</body>
<script th:src="@{/script/navbar.js}"></script>
<script th:src="@{/script/event.js}"></script>
<script th:inline="javascript" th:src="@{/script/maps2.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var tLat = /*[[${event.getPlaceOfMeeting().getY()}]]*/ 43.654;
    var tLng = /*[[${event.getPlaceOfMeeting().getX()}]]*/ -79.383;
    /*]]>*/
</script>
<script
        src="http://maps.googleapis.com/maps/api/js?callback=createMap&libraries=places&key=AIzaSyDO2dlu-aTBCWGzLRHhL9Ac_ZGbAkPy0g8"
        async defer>
</script>

</html>